// Colors
$header-color-light-mode: #5B4192;
$header-color-dark-mode: #3A146B;
$scrollbar-color: #472E7B;
$light-pink: #ece7f9;
$dark-pink: #473964;
$gray-soft: #D0D8DB;
$dark-navy-blue: #181727;
$color-black: black;
$color-white: white;
$color-trasnparent: transparent;
$red-pastel: #E8A1A1;
$red-pastel-dark: #734F4F;
$arrow-color: #726A86;
$color-gray: #999999;
$color-primary: #CEBEE8;

// Spacings
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;